@tailwind base;
@tailwind components;
@tailwind utilities;


.holder{
    background: #070722;
    color:aliceblue;
    height: calc(100vh - 60px);
}

.holder > button{
    background: black;
    margin: 10px;
    padding: 7px 10px;
    color:white;
    border-radius: 10px;
}

header{
    background: #070722;
    color:aliceblue;
    height: 60px;
}