@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');


body{
    color:aliceblue;
    background: #070722;
}

.boro{
    background-color: red;
}

.vt{
    background: transparent;
}

a h1{
    border-top: 2px solid transparent;
    transition: linear 0.3s;
}

/* .active h1{
    border-top: 3px solid rgb(248, 2, 2);
    transition: linear 0.3s;
} */

.robo .active h1{
    color: green;
}

.herma h1{
    color:rgb(6, 252, 227)
}

.herma h1{
    color:rgb(6, 252, 227)
}
.hera h1{
    color:rgb(252, 6, 240)
}

.signature{
    font-family: 'MonteCarlo', cursive;
}

.antonio{
    font-family: 'Antonio', sans-serif;
}

header{
    background: #070722;
    color:aliceblue;
    height: 85px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar{
    z-index: 9;
    position: absolute;
    bottom:0;
    left:0;
    background: #070722;
    height: 89vh;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.side-clicks{
    display: flex;
    align-items: center;
    gap:10px;
    padding: 12px 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.side-clicks-holder{
    display: flex;
    align-items: center;
    gap:10px;
    padding: 12px 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.holder{
    background: #070722;
    color:aliceblue;
    height: calc(110vh);
    z-index: 0;
}

.stars{
    position: absolute;
    height: calc(110vh);
    width: 100%;
    z-index: -1;
}

.image-display{
    height: 70vh;
}

.image-display img{
    margin: auto;
}

.geo-adjust{
    height: 26vh;
}
.geo-cont{
    margin-top: -170px;
}

.info-display{
    height: 18vh;
}

.wiki-links div{
    display: flex;
    align-items: center;
    gap: 2%;
}

.wiki-links p{
    opacity: 0.5;
}

.wiki-links a{
    opacity: 0.8;
    text-decoration: underline;
    font-size: 17px;
}





.toggle button{
    margin-top: 10px;
    width: 100%;
    text-align:left;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 13px 0px;
    font-weight: 500;
    transition: background linear 0.3s;
}


.toggle .newBg{
    background: rgb(129, 13, 13);
    transition: background linear 0.3s;
}

.toggle-2 .newBg{
    background: rgb(129, 13, 13);
    transition: background linear 0.3s;
}

.toggle-2{
    text-align: center;
    width: 100%;
    z-index: 99;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.toggle-2 button {
    padding: 15px 10px;
    width: 30%;
}

span{
    font-size: 16px;
    font-weight: 600;
    opacity: 0.6;
    padding: 0 25px;
}

.details h1{
    font-size: 45px;
    font-weight: 600;
    font-family: 'Antonio', sans-serif;
    margin-bottom: 8px;
}

.more-details div{
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 12px 15px;
    width: 100%;;
}

.more-details h2{
    font-size: 16px;
    font-weight: 600;
    opacity: 0.6;
}

.more-details h1{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Antonio', sans-serif;
}

@media screen and (max-width: 1024px) {
    header{
        height: 150px;
        padding: 20px 0;
    }
    .logo{
        margin-bottom: 20px;
    }
    .planet-list{
        width: 95%;
    }

    .test{
        margin-bottom: -220px;
    }    

    .image-display{
        height: auto;
    }
    .details{
        margin-top:250px;
    }
    .more-details h1{
        font-size: 30px;
        font-weight: 500;
    }
    .more-details h2{
        font-size: 13px;
        font-weight: 500;
    }
    .holder{
        height: calc(115vh);
    }
    
    .stars{
        height: calc(110vh);
    }
}

@media screen and (max-width: 768px) {
    .holder{
        height: calc(160vh);
    }
    
    .stars{
        height: calc(160vh);
    }
    .more-details{
        padding-bottom: 20px;
    }
}


@media screen and (max-width: 640px) {
    header{
        height: 85px;
        padding: 0 16px;
    }
    .logo{
        margin-bottom: 0px;
        margin-top: 8px;
    }

    .hambuger{
        margin-top: 11px;
    }

    .holder{
        height: calc(150vh);
    }
    .stars{
        height: calc(150vh);
    }

    .details h1{
        text-align: center;
        font-size: 40px;
        font-weight: 500;
    }

    .more-details div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .more-details h2{
        font-size: 14px;
    }
}